<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
          <form class="add-player-form" action="/adding"  method="post" >
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="first_name" id="first-name" placeholder="Lead Name" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Opportunity Name" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="username" id="username" placeholder="CreatedBy" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="number" id="number" placeholder="Contact" required>
                </div>
                <div class="form-group col-md-6">
                   <select id="position" name="position" class="form-control" required>
                        <option selected disabled>Choose accounts</option>
                        <option>Honda</option>
                        <option>CNHI</option>
                        <option>Intel</option>
                        <option>Cisco</option>
                        <option>Caterpillar</option>
                        <option>Harley Davidson</option>
  
                    </select>
                </div>
                <!--<div class="col-md-12">
                    <label for="player-img"><b style="color:white">Lead Image</b></label><br>
                    <input type="file" name="leadimage" id="player-img" class="" required>
                </div>-->
            </div>
            <button type="submit" class="btn btn-primary float-right" onclick="happy();">Add Lead</button>
        </form>
    </div>
</div>
</body>
<script>
    function happy(){
    var a=document.getElementById("number").value;
    var b=document.getElementById("username").value;
    var c=document.getElementById("last-name").value;
    var d=document.getElementById("first-name").value;
    var e=document.getElementById("player-img").value;
    var filename = e.replace(/^.*[\\\/]/, '')
alert(filename);
    }
</script>
</html>
