

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>IJP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/home.js"></script>

<style>
.btn-primary {
	background-color: #1c98d1;
	border-color: #2e6da4;
}

section {
	color: white;
	background-color: #01060c;
	margin: 5px 0px 0px;
}

.middle {
	padding: 20px;
	color: white;
	
	margin-bottom: 10px;
}

body {
	background-color: #004b88;
}

p {
	text-align: justify;
}

.info {
	border-right-style: groove;
	border-right-width: medium;
	border-right-height: 2px;
	border-right-color: rgba(28, 152, 209, 0.45);
}

h4 b {
	text-decoration: underline;
}
</style>
</head>
<body>
	<div class="container-fluid">
		<header>
			<img src="./images/logo.png" alt="logo"
				style="width: 19%; padding-top: 10px;">
			<h2 style="text-align: center; font-style: italic; color: white">Customer Relationship Management Application</h2>
		</header>
		<section>
			<div class="row">
				<div class="col-sm-8 col-lg-8 col-md-8">
					<img src="./images/img_3.jpg" style="width: 100%;">

				</div>
				<div class="col-sm-4 col-lg-4 col-md-4" style="padding: 65px;">
					
					<h5 style="font-style:italic">Please Sign In</h5>
					<form class="form-signin" method="post" action="/validate">
						<input type="text"  class="form-control" name="psno" id="usr"
						placeholder="PS Number" pattern="[0-9]{8}" required autofocus>
						<br> <input type="password" class="form-control" id="pwd"
							name="pwd" placeholder="Password" required><br>						
					
					<!-- <select class="form-control" id="getroleemploye" required>
					 <option style='display:none;'>Role</option>
					 </select>   <br>-->
					 <% if (message != '') { %>
						<p style="color: red; display: none" id="Incorrectpassword">
							<%= message %></p>
							<% } %>
						<a>
							<button class="btn btn-lg btn-primary btn-block" type="submit">
								Sign in</button>
						</a>

					</form>
				</div>
			</div>
		</section>
		<div class="col-sm-12 col-lg-12 col-md-12 middle"></div>
		<!--<div class="col-sm-4 col-md-4 col-lg-4 info">
			<h4>
				<img src=".images/view.jpg" style="width: 32%; padding: 10px;"><b>Employee</b>
			</h4>

			<ul style="list-style-type: disc">
				<li><b>View and Apply for Jobs</b></li>
			</ul>

		</div>-->
			<!--<div class="col-sm-4 col-md-4 col-lg-4 info">
			<h4>
				<img src=".images/select1.jpg" style="width: 28%; padding: 10px;"><b>Resource Manager</b>
			</h4>
			<ul style="list-style-type: disc">
				
			<li><b>Post and View the Jobs posted</b></li> 
				<li><b>Select Candidates</b></li>
				<li><b>Shortlist Candidates</b></li>
			</ul>


		</div>-->
			<!--<div class="col-sm-4 col-md-4 col-lg-4 info1">

			<h4>
				<img src=".images/admin.jpg" style="width: 27%; padding: 10px;"><b>IJP Admin</b>
			</h4>
			<ul style="list-style-type: disc">
				
				<li><b>Deny job Applications</b></li>
				
			</ul>



		</div>-->


	</div>
</body>
</html>